.fieldset {
    /* border: 1px solid; */
    border-bottom: 2px solid #00c0ef;
    padding-bottom: 2px;
    border-radius: 2px;
}

.day {
    cursor: pointer;
}

.datepicker {
    padding: 9px 12px;
}


/************************************/

.nouvelle-page {
    background-color: #716f6d;
    border-color: #dfe8de;
    position: absolute;
    left: 9px;
    top: -7px;
    z-index: 10;
}

.box-search-page {
    position: absolute;
    left: 71px;
    top: 3px;
}


/************************************/

.showing-page-list div {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding: 5px 7px;
    margin: 2px 0px;
}

#count-search-page {
    background-color: #a2b5c1 !important;
    font-size: 86px;
    padding: 0px 9px;
     position: absolute; 
    /*left: -69px;*/
    top: 86px;
    padding-top: 1px;
    text-shadow: 2px 2px 0px #2b2626;
    z-index: 20;
    border-radius: 0;

    top: -73px;
    /*top:-73px;
    right: -705%;*/
}

.content-header {
    color: #fff;
    text-shadow: #ccc 2px 2px 0px;
}

.skin-blue .content-header {
    background: #ccc;
    padding-bottom: 16px;
}

/************************************************/
.modal-body {
    min-height: 400px;
}
.modal-body h1 {
    margin: 0;
    padding-bottom: 15px;
}

.showing-book-list p{
    font-size: 16px;
    font-weight: 500;
    padding: 6px 7px;
    margin: 2px 0px;
    box-shadow: 5px 1px 18px #ced2d4;
    background-color: #fff;
    cursor: pointer;
}
.showing-book-list {
    overflow: auto;
    height: 279px;
    background: #f7f9f9;

}
.modal-header {
    background-color: #0095ff;
}
.btn-info {
    background-color: #0095ff;
    border-color: #00acd6;
}

.modal #description {
    min-height: 160px;
}
/*******************************************************************/

.search-div 
{
    cursor : pointer;
}
.title-mini
{
    font-size: 19px;
    color: #7f7a7a;
    text-shadow: #848383 1px 1px 0px;
}

.page-content {
    min-height: 315px !important;
}
.modal-content .data-content {
    font-size: 16px;
    font-weight: 600;
}
strong {
    font-size:19px;
    /*color:red;*/
}
strong em {
    font-weight: 900;
}
@media (min-width: 768px ) {
    .modal-dialog {
        width: 98%;
        max-width: 1345px;
        left: 0%;
    }
}

/*#############################################################################*/
.nosidebar {
    padding: 59px;
    max-width: 1104px;
}
.dropfile {
    position: relative;
    border: 3px dashed #bdb3b3  !important;
    color:#ABA9A9 !important;
    display: block !important;
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
}
.box-body img{
    width: 100%;
    display: block;
}
.dropfile, .box-body img {
    float: left;
}

.dropfile img {
    position: absolute;
    z-index: 10;
    min-height: 100px;
}
.dropfile .progress {
    position: absolute;
    left: 0;
    bottom: -20px;
    background-color: #498CFA;
    right: 0;
    text-align: center;
}
.dropfile.hover{
    background-color: #D6D7E5;
    border-color: #3B7FED !important;
}
.dropfile.hover img{
    filter: alpha(opacity=30);
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity:0.3;
    opacity: 0.3;
}
.dropfile span.instructions{
    position: absolute; 
    top: 33%;
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.dropfile:last-child {
    margin-left:10px;
}
/*************************************************/
@media (max-width: 760px) {
    .pull-right-container {
        top: -15%;  
        position: absolute;
        z-index: 9563;
        left: 26px;
    }
}
/**************************************************/
.box-title {
    z-index: 1000;
    text-shadow: 1px 2px 2px #2f2c2c;
    font-weight: 900;
    letter-spacing: 2px;
    color: #d4cfcf;
}

.my-box {
    padding: 0px;
    border-radius: 10px;
}
.my-box h1 {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #060606;
    color: #cec9c9;
    letter-spacing: 2px;
    margin-bottom:8px;
}
.my-box .block {
    border: 2px solid #636161;
    background-color: #fff;
    margin: 2px 2px;
    height: 155px;
    overflow: hidden;
}

.block >.left {
    float: left;
    width:50%;
    padding: 7px;
}
.block >.left img{
    max-width: 210px;
    width: 100%;
    border: 2px solid #3c8dbc;
    border-radius: 1px;
    box-shadow: 2px 1px 10px #2b2727;
    margin-bottom: 5px;
}
.block >.right{

    float: left;
    width: 50%;
    padding: 6px 7px;
    border-left: 2px solid #bbbaba;
    height: 100%;

}

 .block:after {
    display: table;
    content: " ";
    clear: both;
}

/*****************SEARCH PAGE ***********************/

code section {
    margin-left:32px;
}

/*******************************************************/
h2.title {
    color: blue;
    letter-spacing: 6px;
    font-size: 16px;
}
.recent-list, .recent-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.recent-list li h3 {
    color: #15110d;
    text-decoration: underline;
}